.App {
  text-align: center;
}

.entry{
	align-items:center;
	display: flex;
	flex-direction: column;
}

.entry input{
	margin: 10px;
	width: 100px;
	height: 20px;
	
}

.entry label{
	front-size: 14px;

}

.entity{
    border: 2px solid red;
	border-radius: 15px;
	margin: 10px;
	width: 400px;
	height: 250px;
}

.entry h1{
	font-style: italic;

}
.started{
	color: green;

}
.In_Progress{
	color: yellow;
}
.Completed{
	color: red;
}
button{
	margin: 10px;
}